.carousel {
    position: relative;
    max-width: 80%;
    overflow: hidden;
    margin: auto;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    box-sizing: border-box;
    padding: 0 12px;
  }
  
  .carousel-item img {
    width: 100%;
    min-height: 220px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 50%;
    cursor: not-allowed;
    opacity: .5;
  }
  
  .prev.enable,
  .next.enable {
    cursor: pointer;
    opacity: 1;
  }
  
  .prev {
    left: 0px;
    z-index: 3;
  }
  
  .next {
    right: 0px;
  }