@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #444;
    padding: 40px 0 30px;
}
